/*
!.gitignore
!.gitmodules

!/.config
/.config/*
# Fish shell configuration files
!/.config/fish
# Nixpkgs configuration files
!/.config/nixpkgs

# Oh my zsh! configuration files
!.zprofile
!.zshenv
!.zshrc

# Ammonite Predef:
# - https://github.com/com-lihaoyi/Ammonite/blob/master/internals-docs/predef.md
!/.ammonite
/.ammonite/*
!/.ammonite/predef.sc

# Emacs configuration files
!.emacs.d

# Obins Anne Pro 2 configuration files
!darwin-annepro2-layout.json
!darwin.itermkeymap
