/*
!.gitignore
!.gitmodules

!/.config
/.config/*

# Nix configuration files
!/.config/nix

# Nixpkgs configuration files
!/.config/nixpkgs

# WezTerm configuration files
!/.config/wezterm

# Fish shell configuration files
!/.config/fish

# Neovim configuration files
!/.config/nvim

# Emacs configuration files
!.emacs.d
